* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    background: url("/styles/img/tetris.jpg") no-repeat center center/cover;
    color: #fff;
}
