@import "./modules/reset";
@import "./modules/classes";

.scoreArea {
    @media screen and(min-width:800px) {
        margin-right: 20px;
    }
    h3 {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        align-items: center;
        font-family: "Ubuntu Mono", monospace;
        margin-bottom: 12px;
        background-color: #808080;
        padding: 12px;
        border-radius: 12px;
        @media screen and (min-width: 800px) {
            transform: translateY(-73px);
        }
    }
    button {
        width: 100%;
        padding: 9px 20px;
        border: 1px solid #21dc21;
        border-radius: 9px;
        background-color: #21dc21;
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        &:hover {
            background: #87ff87;
            color: black;
        }
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    @media screen and(max-width:800px) {
        flex-direction: column-reverse;
        gap: 2rem;
    }

    .grid {
        display: flex;
        flex-wrap: wrap;
        width: 220px;
        height: 400px;

        &::after {
            content: "";
            border: 3px solid blue;
            width: 100%;
            height: 100%;
            transform: translateY(-425px);
        }

        div {
            width: 22px;
            height: 20px;
        }
    }
    .miniGrid {
        width: 80px;
        height: 80px;
        display: flex;
        flex-wrap: wrap;
        margin-left: 50px;
        &::after {
            content: "";
            border: 3px solid blue;
            width: 100%;
            height: 100%;
            transform: translateY(-84px) translateX(-15px);
        }

        div {
            width: 20px;
            height: 20px;
        }
    }
}
