@import "./modules/reset";
@import "./modules/classes";

.container {
    display: flex;
    justify-content: center;
    align-items: baseline;

    .grid {
        display: flex;
        flex-wrap: wrap;
        width: 200px;
        height: 400px;
        background-color: yellow;

        div {
            width: 20px;
            height: 20px;
        }
    }
    .miniGrid {
        width: 80px;
        height: 80px;
        display: flex;
        flex-wrap: wrap;
        background: yellow;
        margin-left: 50px;
        div {
            width: 20px;
            height: 20px;
        }
    }
}
