@import './modules/reset';
@import './modules/classes';

.grid{
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 400px;
    background-color: yellow;

    div{
        width: 20px;
        height: 20px;
        background-color: red;
    }
}